.banner{
    width: 100%;
    height: 500px;
    
    background-color: purple;
    color: #fff;
    background-image: url(../../assets/img/vava.png);
    background-repeat: no-repeat;
    background-size: cover;
}